<ion-menu [content]="content" type="overlay">
    <ion-header no-border>
        <ion-toolbar>
            <!-- <ion-title>Menu</ion-title> -->
            <ion-toolbar class="user-profile">
                <ion-grid>
                    <ion-row>
                        <ion-col col-4>
                            <div class="user-avatar">
                                <img src="assets/imgs/userFoto.png">
                            </div>
                        </ion-col>
                        <ion-col col-8>
                            <h4>
                                User Name
                            </h4>
                            <p>
                                Description
                            </p>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-toolbar>
        </ion-toolbar>
        <!-- <ion-list>
            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" no-lines>
                <ion-icon name="{{p.seticon}}"></ion-icon>
                {{p.title}}
            </button>
            <button menuClose ion-item (click)="sair()" no-lines>
                <ion-icon name="exit"></ion-icon>
                Sair
            </button>
        </ion-list> -->
    </ion-header>

    <ion-content>
        <ion-list>
            <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" no-lines>
                <ion-icon name="{{p.seticon}}"></ion-icon>
                {{p.title}}
            </button>
            <button menuClose ion-item (click)="sair()" no-lines>
                <ion-icon name="exit"></ion-icon>
                Sair
            </button>
        </ion-list>
    </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>